# Database
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_SECRET=

# SMTP (Brevo)
SMTP_USERNAME=
SMTP_PASSWORD=

# OAuth2 - Google (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# OAuth2 - GitHub (https://github.com/settings/developers)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# OAuth2 - LinkedIn (https://www.linkedin.com/developers/apps)
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
